:root{
    --main-bg: #E8ECF1;
    --main-title: #00AD4F;
    --main-text: #666666;
    --main-small: #999999;
    --main-bg-pr: #F1F1F1;
    --main-bg-se: #44546A;
    --main-border: ;
    --main-transition: 250ms;
    --white: #ffffff;
    --black: #000000;
    --font-family: 'Montserrat', sans-serif;
}